@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h2 class="display-4">Task for ******</h2>
</div>
<p>I have built this web app for the task from *******.</p>
<p>I used <a href=" https://docs.microsoft.com/ru-ru/aspnet/?view=aspnetcore-3.0#pivot=core"> docs.microsoft.com</a>( Create your first ASP.NET Core Web App with Razor Pages),</p>
<p><a href="https://www.tutorialspoint.com"> www.tutorialspoint.com </a> (Asp.Net Core Tutorial, HTML Tutorial),</p>
<p>and used many advices from <a href="https://www.freecodecamp.org"> www.freecodecamp.org,</a> </p>
<p>and complete commands in HTML/</p>
