@page
@model IndexModel
@{
    ViewData["Title"] = "WareHous";
}

<div class="text-center">
    <h1 class="display-4">WAREHOUSE</h1>
    <p> <a href="https://localhost:44375/items">Start using the warehouse application</a></p>
</div>
